/* body {
    background-color: indigo;
    color: white;
}

strong{
    color: yellow;
}

main p{
    color: black;
}

footer{
    background-color: blue;
    color: white;
}

footer a {
    color: white;  /* Cor dos links 
    text-decoration: none; /* Remove o sublinhado 
  }

  footer a:hover {
    color: lightgray; /* Muda a cor ao passar o mouse 
  } */


/*Estilo colorido*/
/* header{
    background-color: brown;
    color: chocolate;
}

main{
    background-color: aqua;
    color: purple;
}

footer{
    background-color: azure;
    color: brown;
}
   */

/*Minimalista*/

/* body{
    background-color: black;
    color: azure;
} */